
a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit],input[type=password], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover ,input[type=password]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active,input[type=password]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] ,input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus ,input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder,input[type=password]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  .error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.paddingTB60 {padding:60px 0px 60px 0px;}
.gray-bg {background: #F1F1F1 !important;}
.about-title {}
.about-title h1 {color: #535353; font-size:45px;font-weight:600;}
.about-title span {color: #AF0808; font-size:45px;font-weight:700;}
.about-title h3 {color: #535353; font-size:23px;margin-bottom:24px;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px; }
.img {max-width: 100%; height: 100%;  }

/* Social Icons */
.about-icons {margin:48px 0px 48px 0px ;}
.about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#323232;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-icons li {margin:0px;padding:0;display:inline-block;}
#social-fb:hover {color: #3B5998;transition:all .001s;}
 #social-tw:hover {color: #4099FF;transition:all .001s;}
 #social-gp:hover {color: #d34836;transition:all .001s;}
 #social-em:hover {color: #f39c12;transition:all .001s;}

 .w-100 {
     width: 100%;
 }
 body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: unset !important;
  background-color: #fff;
}
 
 .rtl { 
  direction: rtl;

  // Start Bootstrap Override
  .text-left {
    text-align: right !important;
  }
  .text-right {
    text-align: left !important;
  }
  
.pull-right {
      float: left;
    }

    .offset-1,
    .offset-xl-1,
    .offset-lg-1,
    .offset-md-1,
    .offset-sm-1 {
      margin-right: 8.333333%;
      margin-left: unset;
    }

    .offset-2,
    .offset-xl-2,
    .offset-lg-2,
    .offset-md-2,
    .offset-sm-2 {
      margin-right: 16.666667%;
      margin-left: unset;
    }

    .offset-3,
    .offset-xl-3,
    .offset-lg-3,
    .offset-md-3,
    .offset-sm-3 {
      margin-right: 25%;
      margin-left: unset;
    }

    .offset-4,
    .offset-xl-4,
    .offset-lg-4,
    .offset-md-4,
    .offset-sm-4 {
      margin-right: 33.333333%;
      margin-left: unset;
    }

    .offset-5,
    .offset-lg-5,
    .offset-xl-5,
    .offset-md-5,
    .offset-sm-5 {
      margin-right: 41.666667%;
      margin-left: unset;
    }

    .offset-6,
    .offset-xl-6,
    .offset-lg-6,
    .offset-md-6,
    .offset-sm-6 {
      margin-right: 50%;
      margin-left: unset;
    }

    .offset-7,
    .offset-xl-7,
    .offset-lg-7,
    .offset-md-7,
    .offset-sm-7 {
      margin-right: 58.333333%;
      margin-left: unset;
    }

    .offset-8,
    .offset-xl-8,
    .offset-lg-8,
    .offset-md-8,
    .offset-sm-8 {
      margin-right: 66.666667%;
      margin-left: unset;
    }

    .offset-9,
    .offset-xl-9,
    .offset-lg-9,
    .offset-md-9,
    .offset-sm-9 {
      margin-right: 75%;
    }

    .offset-10,
    .offset-xl-10,
    .offset-lg-10,
    .offset-md-10,
    .offset-sm-10 {
      margin-right: 83.333333%;
      margin-left: unset;
    }

    .offset-11,
    .offset-xl-11,
    .offset-lg-11,
    .offset-md-11,
    .offset-sm-11 {
      margin-right: 91.666667%;
      margin-left: unset;
    }
 

  .pull-right {
    float: left;
  }

  .offset-1,
  .offset-xl-1,
  .offset-lg-1,
  .offset-md-1,
  .offset-sm-1 {
    margin-right: 8.333333%;
    margin-left: unset;
  }

  .offset-2,
  .offset-xl-2,
  .offset-lg-2,
  .offset-md-2,
  .offset-sm-2 {
    margin-right: 16.666667%;
    margin-left: unset;
  }

  .offset-3,
  .offset-xl-3,
  .offset-lg-3,
  .offset-md-3,
  .offset-sm-3 {
    margin-right: 25%;
    margin-left: unset;
  }

  .offset-4,
  .offset-xl-4,
  .offset-lg-4,
  .offset-md-4,
  .offset-sm-4 {
    margin-right: 33.333333%;
    margin-left: unset;
  }

  .offset-5,
  .offset-lg-5,
  .offset-xl-5,
  .offset-md-5,
  .offset-sm-5 {
    margin-right: 41.666667%;
    margin-left: unset;
  }

  .offset-6,
  .offset-xl-6,
  .offset-lg-6,
  .offset-md-6,
  .offset-sm-6 {
    margin-right: 50%;
    margin-left: unset;
  }

  .offset-7,
  .offset-xl-7,
  .offset-lg-7,
  .offset-md-7,
  .offset-sm-7 {
    margin-right: 58.333333%;
    margin-left: unset;
  }

  .offset-8,
  .offset-xl-8,
  .offset-lg-8,
  .offset-md-8,
  .offset-sm-8 {
    margin-right: 66.666667%;
    margin-left: unset;
  }

  .offset-9,
  .offset-xl-9,
  .offset-lg-9,
  .offset-md-9,
  .offset-sm-9 {
    margin-right: 75%;
  }

  .offset-10,
  .offset-xl-10,
  .offset-lg-10,
  .offset-md-10,
  .offset-sm-10 {
    margin-right: 83.333333%;
    margin-left: unset;
  }

  .offset-11,
  .offset-xl-11,
  .offset-lg-11,
  .offset-md-11,
  .offset-sm-11 {
    margin-right: 91.666667%;
    margin-left: unset;
  }

  .ml-auto, .mx-auto {
    margin-right: auto !important;
    margin-left: unset !important;
}
  .navbar-brand {

    margin-left: 1rem;
    margin-right: unset !important
  }

  .dropdown-menu-right {
    right: auto;
    left: 0;
}
  
@media (min-width: 576px)
{
    .navbar-expand-sm .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-grow: unset !important;
}
}
.pagination{
  padding-right: 0px
}

// End Bootstrap Override
}

.pagination{
  padding-left: 0px
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
  margin-right: unset !important
}
